footer.footer
    section.section-a
        .container
            div
                h1 The headphones of the future.
                p
                    | The company itself is a very successful company. Where
                    | All the softness of ours is harsher than the freedom of rejecting things
                    | Therefore let it be pleasing to the way of the corrupt body, for the pleasure or
                    | He blames them and blames them.
                a.btn(href="#") Read More
            img(src="https://i.ibb.co/37Y74kv/showcase.jpg", alt="")
    section#about.section-b
        .overlay
            .section-b-inner.py-5
                h3.text-2 Loud & Clear
                h2.text-5.mt-1 People Aren't Hearing All the Music
                p.mt-1
                    | The company itself is a very successful company. Said
                    | the laborious part of repudiating it, because, in time of error, we lead on with pleasure
                    | our labors are right.
    section.section-c
        .gallery
            a.big(href="https://i.ibb.co/CHLBZnp/gal2323.jpg")
                img(src="https://i.ibb.co/CHLBZnp/gal2323.jpg", alt="")
            a.big(href="https://i.ibb.co/4pBbhfY/gal39834.jpg")
                img(src="https://i.ibb.co/4pBbhfY/gal39834.jpg", alt="")
            a.big(href="https://i.ibb.co/xSnHP7g/gal43884.jpg")
                img(src="https://i.ibb.co/xSnHP7g/gal43884.jpg", alt="")
            a.big(href="https://i.ibb.co/QN6Bnrb/gal4958.jpg")
                img(src="https://i.ibb.co/QN6Bnrb/gal4958.jpg", alt="")
            a.big(href="https://i.ibb.co/dGZvj75/gal4545.jpg")
                img(src="https://i.ibb.co/dGZvj75/gal4545.jpg", alt="")
            a.big(href="https://i.ibb.co/S6FVFNt/gal74744.jpg")
                img(src="https://i.ibb.co/S6FVFNt/gal74744.jpg", alt="")
    footer.section-footer.py-4.bg-primary
        .container
            div
                h2.text-2.mb-1 The customer is very smart.
                a(href="http://twitter.com")
                    i.fab.fa-twitter.fa-2x
                a(href="http://facebook.com")
                    i.fab.fa-facebook.fa-2x
                a(href="http://youtube.com")
                    i.fab.fa-youtube.fa-2x
            div
                h3 Company Info
                ul
                    li
                        a(href="#") All Products
                    li
                        a(href="#") About Us
                    li
                        a(href="#") Privacy Policy
                    li
                        a(href="#") Terms of Service
            div
                h3 Blog Posts
                ul
                    li
                        a(href="#") Thank you very much.
                    li
                        a(href="#") Thank you very much.
                    li
                        a(href="#") Thank you very much.
                    li
                        a(href="#") Thank you very much.
            div
                h3 Subscribe
                p
                    | The company itself is a very successful company.                        
                    form.mt-1(name="email-form", method="POST", data-netlify="true").email-form
                        span.form-control-wrap
                            input(type="email", name="email", id="email", size="40", class="form-control", placeholder="E-mail")
                        button(type="submit", value="Submit", class="form-control submit")
                            i.fas.fa-chevron-right