extends ../../layouts/defaultProduct.pug

block main 
    body
        .wrapper
            .product-img
                if product && product.thumbnail
                    div(class="mb-4")
                        img(
                            src=product.thumbnail
                        )
            .product-info
                .product-text
                    if product
                        if product.title
                            h1(class="mb-4") #{product.title}
                            h2 by studio and friends

                    .product-price-btn
                        if product && product.price
                            p
                                span #{product.price}
                                | $
                        
                            .container
                                button
                                    span
                                        .caddie
                                            .caddie__top-support
                                            .caddie__top
                                            .caddie__body
                                            .caddie__trou
                                            .caddie__trou2
                                            .caddie__body-left
                                            .caddie__roue
                                            .caddie__roue2
                                            .caddie__trou3
                                    div
                                        div
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                            i
                                        div
                                            div
                                            div
                                        div
                                            div
                                                div
                                                div
                                        div
                                            div #{product.price}
                                        div
                                            div Canceled
                            button(style="margin-top: 15px") buy now

