.user-info-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #ece2ee;
    margin-bottom: 20px;
}

.user-info h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.user-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.user-info-label {
    font-weight: bold;
    text-align: right;
    width: 150px;
}

.user-info-input input {
    flex: 1;
    padding: 5px;
}

.user-info-value {
    padding: 5px;
    padding-right: 450px;
}

.user-info-input label {
    font-weight: bold;
    margin-right: 10px;
    width: 150px;
    text-align: right;
}

.user-info-button {
    margin-top: 20px;
    text-align: center;
}
