h2 {
    font-size: 21px; /* Adjust the font size as needed */
    margin-left:20px;
}
.edit {
    border: 2px solid #f1f1f1; 
    background-color: #f5e5e2	; 
    width: 60%;
    padding: 20px; 
}


.form-group {
    clear: both;
    width: 65%;
    margin-bottom: 10px;
    margin-left: 80px;
}

.label {
    float: left;
    width: 30%;
    padding-top: 5px;
}

.label, .input {
    margin-left: 10px;
}


/* user */
.sub-items{
    display: none;
    margin-left: 20px;
}
.sub-items.active{
    display: block;
}


.menu-button button {
    border: none;
    background: none;
    padding: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
}

.menu-button button:focus {
    outline: none;
}
