mixin info() 
    .menu
        .toggle
            i.fa-solid.fa-share-nodes
        li(style='--i:0;--clr:#1877f2')
            a(href='#')
                i.fa-brands.fa-facebook
        li(style='--i:1;--clr:#25d366')
            a(href='#') 
                i.fa-brands.fa-whatsapp
        li(style='--i:2;--clr:#1da1f2')
            a(href='#')
                i.fa-brands.fa-twitter  
        li(style='--i:3;--clr:#FF5733')
            a(href='#')
                i.fa-brands.fa-reddit
        li(style='--i:4;--clr:#0a66c2')
            a(href='#')  
                i.fa-brands.fa-linkedin
        li(style='--i:5;--clr:#c32aa3')
            a(href='#')
                i.fa-brands.fa-instagram
        li(style='--i:6;--clr:#fff')
            a(href='#')
                i.fa-brands.fa-github
        li(style='--i:7;--clr:#ff0000')
            a(href='#')
                i.fa-brands.fa-youtube
