mixin search()
    form#form-search
        .input-group
            input(type="text", placeholder="Nhập từ khóa", name="keyword", class="form-control")
            button(type="click", class="btn btn-search")
                i.fa.fa-search

