mixin search()
    .search-wrapper.active
        .input-holder.active
            input(type="text", class="search-input", placeholder="Tìm tên sản phẩm, các thương hiệu nổi tiếng")
            button(class="search-icon", onclick="searchToggle(this, event)")
                span
        span.close.active(onclick="searchToggle(this, event)")
            span
            span