mixin search()
    form(
        action=`/search`
        method="GET"
    )
        .form-group(style="align-items: center;display: flex;")
            input(type="text", placeholder="Nhập từ khóa...", name="keyword", class="form-control",value=keyword)
            button(type="submit", class="btn btn-search" )
                i.fa.fa-search

